.users {
	display: table;
	width: 50%;
	margin-bottom: 10px;
}

.user {
	display: table-row;
}

.huser {
	display: table-header-group;
	font-weight: bold;
	background-color: lightgrey;
}

.name, .hname, .mail, .hmail, .right, .hright, .button, .hbutton {
	display: table-cell;
	padding: 3px 10px;
	border: 1px solid #999999;
}

.button {
	text-align: center;
}
.button a {
	color: black;
	text-decoration: none;
}

#add_user a {
	color: black;
	text-decoration: none;
}
